@model SportingGoods.Models.Item

@{
    ViewData["Title"] = "Details";
}

<div class="page-title">
    <h3 class="breadcrumb-header">Item details</h3>
</div>

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <center>
                        <img src="~/images/items/@Html.DisplayFor(model => model.Picture)" height="200px" />
                    </center>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <td>@Html.DisplayFor(model => model.Name)</td>
                            </tr>
                            <tr>
                                <th>Category</th>
                                <td>@Html.DisplayFor(model => model.Category.Name)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Brand)</th>
                                <td>@Html.DisplayFor(model => model.Brand)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                <td>@Html.DisplayFor(model => model.Description)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Price)</th>
                                <td>@Html.DisplayFor(model => model.Price) DT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div><!-- Row -->
</div><!-- Main Wrapper -->

<a class="btn btn-info" asp-action="Index"><i class="icon-arrow-left2 m-r-xs"></i>Return</a>